@model ProjectQ.Models.HotPlace

<div>
    <h4>HotNearby</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaseTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseTemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseTemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotTemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotTemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecsToHottest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecsToHottest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeToHottestAsText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeToHottestAsText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreesHotter )
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegreesHotter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>

