@model ProjectQ.Models.HotPlace

<div class="jumbotron">
    <h4>Find Somewhere Hotter Near Me</h4>

    <hr />
    It looks like you're in <span class="badge badge-warning">@Model.BaseTown</span> where it's <span class="badge badge-warning">@Model.BaseTemp.ToString()ºC</span>
    <br /><br />
    @if (Model.BaseTemp == Model.HotTemp)
    {
        <span> There nowhere hotter nearby, maybe put on a sweater.</span>
    }
    else
    {
        <span>The hottest place nearby is <span class="badge badge-warning">@Model.HotTown </span> which is a toasty <span class="badge badge-warning">@(Model.HotTemp)ºC</span> </span>
        <br /><br />
        <span>If you hopped in the car now you could be  <span class="badge badge-warning">@(Model.HotTemp - Model.BaseTemp)ºC</span> hotter in just <span class="badge badge-warning">@Model.RouteToHottest.TimeAsText </span> </span>
    }


</div>

@if (false)
{



    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaseTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseTemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseTemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HotTemp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HotTemp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteToHottest.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteToHottest.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteToHottest.SecondsTravel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteToHottest.SecondsTravel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RouteToHottest.TimeAsText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RouteToHottest.TimeAsText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DegreesHotter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DegreesHotter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
    <div class="footer-clear">&nbsp;</div>
}


